* {
	margin: 0;
	padding: 0;
}


.brand-logo .name{
	color: white;
	font-weight: bold;
	margin-left: 10px;
}

.brand-logo .description{
	color: white;
	font-style: italic;
}

.main{
	padding-top: 30px;
	height: 600px;
	width: 100%;
}

.filter{
	overflow: auto;
	width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
}

.filter .steps{
	border:1px solid black;
	margin-left: 30px;
	height: 75px;
	width: 400px;
	float: left;
}

.filter .search{
	border:1px solid black;
	margin-left: 30px;
	height: 25px;
	width: 200px;
}

.filter .float{
	float:right;
	padding-top: 18px;
}

.filter .button{
	border:1px solid black;
	margin: 5px 0px 0px 30px;
	height: 25px;
	width: 50px;
	float: right;
}

.filter .overall{

}

.filter .medicare{

}

.visuals {
	border:1px solid black;
	margin: 30px 0px 0px 30px;
	height: 600px;

}


/*US Map D3 Style*/
.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/*US Map SVG Positioning*/
svg {
position: absolute;
left: 75px;
top: 250px;
}


/*Sticky Footer*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
